body {
    background-color: #D3F6FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@keyframes color__change {
    0% {
        color:slategrey
    }
    20% {
        color:mediumvioletred;
    }
    40% {
        color:skyblue
    }
    60% {
        color:coral;
    }
    80% {
        color:springgreen;
    }
    100% {
        color:olive;
    }
}

.clock h1 {
    font-size: 100px;
    animation: color__change 10s linear infinite;
}


.weather {
    position: absolute;
    right: 10px;
    font-weight: 600;
    color: rgba(120, 120, 120, 0.7);
}

.form,
.greetings {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 3%;
    color:rgb(70, 70, 70);
}


input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(90, 90, 90, 0.7);
    font-size: 50px;
    color:rgb(70, 70, 70);
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgba(210, 157, 235, 0.7);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.backgroundImage {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  
    animation: fadeIn .5s ease-in-out;  
}

.weather-icon {
    vertical-align: middle;
}

.weather-icon img{
    width: 30px;
    height: 30px;
}

.todolist {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color:rgb(70, 70, 70);
}

ul {
    width: 30%;
    height: 30%;
    background-color: rgba(200, 200, 200, 0.3);
    text-align: center;
}

.todolist li {
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin: 10px;
}

.todolist li button {
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.todolist li button:hover {
    background-color: azure;
}

.todolist li button:active {
    background-color: tomato;
    outline: none;
}

.todolist li button:last-child:active {
    background-color: green;
    outline: none;
}

.todolist ul {
    margin: 30px;
}

.printing{
    display: flex;
}
